x {
    color: hsl(197, 39%, 91%);
    color: hsla(27, 82%, 51%, 0.952);
    color: hsl(27, 70%, 25%);
    color: hsl(120, 73%, 26%);
    color: hsl(120, 73%, 26%);
    color: hsl(120, 73%, 32%);
    color: mediumseagreen;
    color: aqua;
    color: blueviolet;
    color: teal;
    color: salmon;
    color: bisque;
    color: chocolate;
    color: slateblue;
    color: hsl(28, 71%, 13%);
    color: hsl(28, 63%, 19%);
    color: hsl(36, 44%, 62%);
    color: hsl(36, 29%, 51%);
    color: hsl(36, 28%, 42%);
    color: hsl(35, 29%, 30%);
    color: hsl(60, 93%, 72%);
    color: darkred;

    color: hsl(0, 100%, 50%);
    color: hsl(0, 92%, 65%);
    color: hsl(0, 80%, 40%);

    color: hsl(240, 100%, 50%);
    color: hsl(240, 82%, 63%);
    color: hsl(240, 93%, 35%);

    color: hsl(350, 87%, 69%);
    color: hsl(350, 100%, 88%);
    color: hsl(350, 93%, 60%);

    color: hsl(300, 76%, 72%);
    color: hsl(300, 58%, 79%);
    color: hsl(300, 94%, 65%);

    color: hsl(120, 67%, 51%);
    color: hsl(120, 61%, 69%);
    color: hsl(120, 91%, 38%);

    color: hsl(39, 84%, 59%);
    color: hsl(39, 82%, 68%);
    color: hsl(39, 94%, 51%);
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    letter-spacing: 2px;
    color: hsla(27, 100%, 50%, 0.952);
}

#canvas {
    margin: auto;
    display: block;
}